{% extends 'ToDoApp/main.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>Bienvenid@ {{request.user|title}}</h1>
        <h3 style="margin:0">Tienes <i>{{conteo}}</i> Tareas por cumplir!</h3>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'ToDoApp:logout' %}">Cerrar Sesión</a>
    {% else %}
    <a href="{% url 'ToDoApp:login' %}">Iniciar Sesión</a>
    {% endif %}

</div>

<div id="search-add-wrapper">
    <form method="GET" style="margin-top: 20px;display: flex;">
        <input type="text" name="barra_busqueda" value="{{search_input}}" placeholder="Buscar tarea...">
        <input class="button" type="submit" value="Buscar">
    </form>
    <a id="add-link" href="{% url 'ToDoApp:crear_tarea' %}">&#x2b;</a>
</div>

<div class="task-item-wrapper">
    {% for tareas in tareas %}
        <div class="task-wrapper">
            {% if tareas.completado %}
            <div class="task-title">
                <div class="task-complete-icon"></div>
                <i><s><a href="{% url 'ToDoApp:actualizar_tarea' tareas.id %}">{{tareas}}</a></s></i>
            </div>
            <a class="delete-link" href="{% url 'ToDoApp:borrar_tarea' tareas.id %}">&#215;</a>
            {% else %}
            <div class="task-title">
                <div class="task-incomplete-icon"></div>
                <a href="{% url 'ToDoApp:actualizar_tarea' tareas.id %}">{{tareas}}</a>
            </div>
            <a class="delete-link" href="{% url 'ToDoApp:borrar_tarea' tareas.id %}">&#215;</a>
            {% endif %}
        </div>
    
    {% empty %}
    <h3>No tienes tareas registradas</h3>
    {% endfor %}

</div>

{% endblock content %}








